/**index.wxss**/
page{
  height: 100vh;
  background-color: #efefef !important;
}
swiper{
  height:360rpx;
  swiper-item{
    image{
      height:100%;
      width:100%;
    }
    &:first-child{
      background-color: skyblue;
    }
    &:nth-child(2){
      background-color: lightcoral;
    }
    &:last-child{
      background-color: lightseagreen;
    }
  }
}
