<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbtest.security.mapper.UserMapper">
    <!-- User getByUserName(String UserName);-->
    <select id="getByUserName" resultType="User">
        select * from user where user_name = #{username} <!--使用#{}-->
    </select>
</mapper>
